.air-layout {
  height: 100vh;
  .air-content {
    padding: 16px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    .selected-pro {
      color: #fff;
      margin-right: 24px;
    }
  }
}
.air-procard {
  display: inline-block;
  width: calc(50% - 12px);
  margin: 6px !important;
}