.hoc-editor-container {
  background-color: #fff;
}
.hoc-editor-container_border {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
  &.active {
    border: 1px solid #40a9ff;
    transition: all .15s;
  }
}
@keyframes shine {
  0% { background-position: -1px -1px;}
  100% { background-position: -12px -12px;}
}