$span: (8, 16, 24);

@each $v in $span {
  // margin class
  .m-t-#{$v} {
    margin-top: #{$v}px;
  }
  .m-b-#{$v} {
    margin-bottom: #{$v}px;
  }
  .m-l-#{$v} {
    margin-left: #{$v}px;
  }
  .m-r-#{$v} {
    margin-right: #{$v}px;
  }
  .m-x-#{$v} {
    margin-left: #{$v}px;
    margin-right: #{$v}px;
  }
  .m-y-#{$v} {
    margin-top: #{$v}px;
    margin-bottom: #{$v}px;
  }
  
  // padding class
  .p-t-#{$v} {
    padding-top: #{$v}px;
  }
  .p-b-#{$v} {
    padding-bottom: #{$v}px;
  }
  .p-l-#{$v} {
    padding-left: #{$v}px;
  }
  .p-r-#{$v} {
    padding-right: #{$v}px;
  }
  .p-x-#{$v} {
    padding-left: #{$v}px;
    padding-right: #{$v}px;
  }
  .p-y-#{$v} {
    padding-top: #{$v}px;
    padding-bottom: #{$v}px;
  }
}
.m-l-auto {
  margin-left: auto;
}
.m-r-auto {
  margin-right: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-x-center {
  display: flex;
  justify-content: center;
  
}
.flex-y-center {
  display: flex;
  align-items: center;
}
.flex-x-end {
  display: flex;
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}